$primary-color: #046506;
$yellow-color: #f1fa03;
$cab-font-color: #bbe7bc;

$header-font-family: "OpenSansCondensedLight", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$header-font-color: #777;


$body-font-family: "OpenSansCondensedLight", "Helvetica", Helvetica, Arial, sans-serif;


